@import '../../../sass/variables.scss';
@import '../../../sass/mixin.scss';

.search-subject {
  display: grid;
  grid-template-columns: 18% 18% 45px 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.65rem;
  margin: 2rem auto;
  width: 100%;
  @media screen and (max-width: 1106px) {
    grid-template-columns: 30% 30% 45px 1fr;
  }
  @media screen and (max-width: 768px) {
    font-size: 0.6rem;
    width: 90%;
  }
  @media screen and (max-width: 420px) {
    font-size: 0.5rem;
    grid-template-columns: 35% 35% 45px 1fr;
  }

  .filter-btn {
    font-weight: 700;
    font-size: 1.6em;
    background-color: $blueColor;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px rgba(0, 90, 96, 0.3);
    cursor: pointer;
    border: none;
  }
  .filter-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-input {
    position: relative;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      background: #eaeaea;
      border-radius: 100px;
      outline: none;
      border: none;
      font-size: 1.3em;
      padding-left: max(15%, 2.2rem);
    }
    img {
      position: absolute;
      left: 6%;
      top: 50%;
      transform: translateY(-50%);
      width: max(5%, 1.2rem);
    }

    @media screen and (max-width: 1106px) {
      grid-column: 1/-1;
      grid-row: 1/3;
      height: 44px;
    }
  }
}
// .search-subject {
//   margin: 48px auto 48px 47px;
//   display: grid;
//   grid-template-columns: min-content min-content min-content 67%;
//   justify-content: center;
//   align-items: center;
//   gap: 12px;
//   .filter-btn {
//     @include blue-btn(160px, #ecebe9);
//     color: #6a655c;
//     font-weight: 900;
//     font-size: 16px;
//     box-shadow: none;
//     &.active {
//       background-color: $blueColor;
//       color: #fff;
//     }
//   }
//   .filter-icon {
//     cursor: pointer;
//   }
//   .search-input {
//     position: relative;
//     input {
//       width: 80%;
//       background: #eaeaea;
//       border-radius: 100px;
//       outline: none;
//       border: none;
//       padding: 8px;
//       padding-left: 70px;
//     }
//     img {
//       position: absolute;
//       left: 24px;
//       top: 10px;
//     }
//   }
// }
